
#top {
    position: relative;
    background-color: #56FF00;
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border-radius: 300px;
}


#bottom {
    position: relative;
    background-color: #FF00EF;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    border-radius: 20px;
}

#left {
    float: left;
    background-color: #6A7E25;
    padding: 5px;
    width: 150px;
    min-height: 480px;
    border-radius: 20px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #FF00EF;
    padding: 5px;
    min-height: 480px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
    min-height: 480px;
}

.right_content {
    background-color: #5159c7;
    padding: 5px;
    margin: 20px 20px 20px 170px;
    min-height: 480px;
    border-radius: 10px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#top p {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
